*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*canvas {*/
/*    filter: blur(20px);*/
/*}*/